
.container {
  height: 10%;
  background: rebeccapurple;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: red;
}